<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="card">
            <div class="title"><h1>Goal List</h1></div>
            <div class="input-part">
                <input type="text" class="input-field" v-model="inputValue">
                <br>
                <div class="btn" v-on:click='addGoal'>Add Goal</div>
            </div>
            <div class="goal-part">
                <ul class="list">
                    <li v-for= 'goal in goals'> {{ goal }} </li>
                </ul>
            </div>
    
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="vue.js"></script>
</body>
</html>